 
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

/*
.fondGradient {
	background: linear-gradient(#0b0b0d, #17192d, #1f2564);
}

.navBar {
	height: 30px;
	position: fixed;
	top: 0px;
	width: calc(100% - 30px);
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	align-items: center;
	gap: 20px;
	padding: 15px 15px;
	background: #0d0e13;
}

.navBar .titre {
	color: #444fd6;
	font-size: 20px;
	margin: 0;
}

.navButtons {
	display: flex;
	list-style: none;
	gap: 30px;
	margin: 0;
	align-items: center;
}

.navButtons p {
	color: #ccc;
	margin: 0;
}

.navButtons p:hover {
	color : white;
	cursor: pointer;
}

.button {
	background-color: transparent;
	color: #444fd6;
	border : solid 2px #444fd6;
	border-radius: 5px;
	padding: 6px 14px;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	width: fit-content;
	height: fit-content;
}

.button:hover {
	color: white;
	background-color: #444fd6;
	transition: 0.3s;
}

.button_active {
	background-color: #444fd6;
	color: white;
	border : solid 2px #444fd6;
	border-radius: 5px;
	padding: 10px 18px;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	width: fit-content;
	height: fit-content;
}

.button_active:hover {
	color: #444fd6;
	background-color: transparent;
	transition: 0.3s;
}

.footer {
	background: #030305;
	display: flex;
	justify-content: space-around;
	height: fit-content;
	padding: 20px;
	gap: 30px;
	align-items: center;

}

.footer div {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
}

.footer div h1 {
	color: #444fd6;
	font-weight: bold;
	margin: 0;
	font-size: 20px;
}

.footer div p {
	color: #ccc;
	margin: 0;
}

.footer div p:hover {
	color : white;
	cursor: pointer;
}

.burgerMenu {
	display: none;
}

.burgerMenuIcon {
	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.burgerMenuIcon .bar {
	width: 25px;
	height: 3px;
	background-color: white;
	transition: 0.3s;
}

.burgerMenuIcon.active .bar:nth-child(1) {
	transform: rotate(-45deg) translate(-5px, 6px);
	transition: 0.3s;
}

.burgerMenuIcon.active .bar:nth-child(2) {
	opacity: 0;
	transition: 0.3s;
}

.burgerMenuIcon.active .bar:nth-child(3) {
	transform: rotate(45deg) translate(-5px, -6px);
	transition: 0.3s;
}

.sideMenu {
	position: fixed;
	top: 0px;
	right: 0px;

	width: 200px;
	height: 100%;

	background: #1f2564;
	
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	gap: 20px;
	
	opacity: 0;
	transform: translateX(100%);
	transition: 0.5s ease;
}

.sideMenu.show {
	opacity: 1;
	transition: 0.5s ease;
	transform: translateX(0%);
}

.sideMenu .sideMenuButton {
	padding: 10px 20px;
	width: 100%;
	height: 40px;
	width: 100%;
	color: #ccc;
	margin: 0;
	padding: 0;
	align-content: center;
	text-align: center;
}

.sideMenu .sideMenuButton:hover {
	background-color: #141725;
}


@media (max-width: 800px) {
	
	.navBar .navButtons {
		display: none;
	}

	.burgerMenu {
		display: block;
	}

	.footer {
		flex-direction: column;
	}

} */